<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/both_type_of_save" method="POST" enctype="multipart/form-data">
        Upload files locally and cloud:<input type="file" name="myfile">
        <button>Submit local</button>
    </form>
    <!-- <form action="/upload/local" method="POST" enctype="multipart/form-data">
        Upload files locally and cloud:<input type="file" name="myfile">
        <button>Submit local</button>
    </form>
    <form action="/upload/cloud" method="POST" enctype="multipart/form-data">
        Upload files locally and cloud:<input type="file" name="myfile">
        <button>Submit local</button>
    </form> -->
</body>
</html>
